hr {
    color: #dbdbdb;
    width: 95%;
    border-radius: 15px;
}

.horizontal-separator {
    content: "";
    display: block;
    width: 97%;
    margin: 2vh auto;
    border-bottom: 1px solid #dbdbdb;
    border-radius: 100%;
}

html {
    font-size: 24px;
    font-family:Arial, Helvetica, sans-serif;
    text-wrap: balance;
    background-image: linear-gradient(to left, #483d8b, #4169e1);
    color: #f0f8ff;
}

html, body {
    height: 100vh;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 3vh;
}

#wrapper {
    flex-grow: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    align-self: center;


    border-left: 2px solid #f0f8ff;
    border-right: 2px solid #f0f8ff;
    box-sizing: border-box;
    box-shadow: 2px 2px 10px #f0f8ff, -2px -2px 10px #f0f8ff;
}

.bcard__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;

    backdrop-filter: blur(10px) brightness(0.9);

    text-shadow: 2px 2px 10px #6e4eff;
}

.bcard__header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    width: 100%;
    font-size: 140%;
    margin-bottom: 2%;
}

.bcard__header_title {
    margin-left: 2%;
    align-self: center;
}

.bcard__header h1 {
    margin-bottom: 0;
}

.bcard__header p {
    font-size: 75%;
    margin: auto 0;
}

.bcard__header img {
    object-fit: cover;
    height: 200px;
    width: 200px;
}

.bcard__element {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
}

.bcard__element h2 {
    margin-bottom: 0;
}

.bcard__element:not(:last-child) {
    margin-bottom: 2%;
}

.bcard__element:last-child {
    margin-bottom: 5%;
}

.bcard__content {
    width: 100%;
}

.bcard__content .list_element span.separator:not(:last-child)::after {
    content: "|";
    margin-left: 5px;
    margin-right: 5px;
}

.review__wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;
}

.review__element {
    display: flex;
    flex-direction: column;
    width: 560px;
    text-align: center;
    padding: 5px 15px;
    margin: 5px;
    box-sizing: border-box;
    border: 1px solid teal;
}

.review__element h4 {
    margin-bottom: 0;
}

.review__element p {
    margin-top: 2%;
}

.review__content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: justify;

    flex-grow: 1;
}

.review__rating {
    margin-bottom: 5px;
}

.styled_box {
    border: 2px solid #f0f8ff;
    border-radius: 15px;
    box-sizing: border-box;
    box-shadow: 2px 2px 10px #f0f8ff;
}

.half-alpha {
    opacity: .6;
}

.visually-hidden {
    position: fixed;
    transform: scale(0);
}

a {
    color: #add8e6;
    transition: color .2s ease;
}

a:hover {
    color: #f0f8ff;
}

address {
    font-style: normal;
}

address.bcard__element .bcard__content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}